.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: #1e2355;
  max-width: 400px;
}

.todos-container li {
  background: #1e2355;
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}

.bg-color {
  background: #a6a7bb;
}

.blue-color {
  color: #151a53;
}